/* ---- layout rules ---- */

.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

.grid-cell {
  height: 50px;
  width: 50px;
  position: static;
  float: left;
}

.center-button-container {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 400px;
  margin-left: -200px;
  text-align: center;
}

.about-tooltip {
  display: inline;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #777;
  padding-bottom: 30px;
}

.simulation-property-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #777;
}

.simulation-property-controls > select {
  display: block;
  margin: 10px 0px;
}

.about-tooltip .tooltip-content {
  position: absolute;
  width: 390px;
  color: #FFFFFF;
  background: #000000;
  text-align: left;
  font-weight: normal;
  line-height: 1.3em;
  visibility: hidden;
  border-radius: 6px;
  padding: 20px;
}
.about-tooltip span.tooltip-content:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -178px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.about-tooltip .tooltip-content, span.tooltip-content:hover {
  visibility: visible;
  top: 0px;
  margin-top: 30px;
  left: 75px;
  margin-left: -76px;
  z-index: 999;
}
