/* ---- layout rules ---- */

.grid {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
}

.grid-cell {
  height: 50px;
  width: 50px;
  position: static;
  float: left;
}

.button-container {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 400px;
  margin-left: -200px;
  text-align: center;
}
